<!-- Modal -->
<div class="modal" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editUserModalTitle"><%= t('users._edit.edit_profile') %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="editUserForm">
        <div class="modal-body">
          <div class="form-group">
            <label for="editLocation"><%= t('users._edit.address') %></label>
            <input type="text" class="form-control" id="editLocation" aria-describedby="locationHelp"
              placeholder="<%= t('users._edit.enter_address') %> " value="<%= @user.location %>" required>
            <small id="locationHelp" class="form-text text-muted"><%= t('users._edit.enter_location') %></small>
          </div>
          <div class="form-group">
            <label for="editAbout"><%= t('users._edit.about') %></label>
            <textarea rows="5" type="text" class="form-control" id="editAbout"
              placeholder="<%= t('users._edit.enter_introduction') %>" required><%= @user.about %></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <div class="loader hidden" id="editUserLoader"></div>
          <button type="submit" class="btn btn-primary"><%= t('users._edit.save') %></button>
        </div>
      </form>
    </div>
  </div>
</div>