<div class="card" style="width: 300px; margin-top: 50px;">
    <%= image_tag @user.profile_picture.url, class: 'card-img-top apt-profile-picture rounded-circle' if @user.profile_picture? %>
    <%= image_tag image_path('default-user.png'), class: 'card-img-top apt-profile-picture rounded-circle' if !@user.profile_picture? %>

    <% if current_user?(@user) %>
    <input id="uploader" type="file" name="profilePicture" hidden>
    <a id="uploadLink" class="edit-link" href="#" style="margin: auto">Cập nhật ảnh</a>
    <% end %>
    <hr class="my-4 apt-line-8">
    <div class="card-body">
        <h5 class="card-title"><%= @user.first_name %> <%= @user.last_name %></h5>
        <p class="card-text"><i class="fa fa-envelope" style="margin-right: 15px;"></i><%= @user.email %>
        </p>
    </div>
</div>