<% provide(:title, @user.name) %>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <%= render 'user' %>
        </div>
        <div class="col-sm-8">
            <div style="margin-top: 50px">
                <div class="d-flex">
                    <h3><%= t ('users.show.hello') %> <%= @user.first_name %></h3>
                    <% if @user.link? %>
                    <p style="margin-left: 10px;"><a href="<%= @user.link%>" target="_blank"><i class="fa fa-facebook-official fa-3"></i></a>
                    <% end %>
                    </p>
                </div>
                <p>
                    <%= t ('users.show.join') %> <%= @user.created_at.to_date %>
                    <% if current_user?(@user) %>
                    <b> · </b>
                    <a class="edit-link" href="#" data-toggle="modal" data-target="#editUserModal"><%= t ('users.show.edit') %></a>
                    <%= render 'edit' %>
                    <% end %>
                </p>
                <hr class="my-3">
                <h6><%= t('users.show.about')%></h6>
                <% if @user.about? %>
                <p><%= @user.about %></p>
                <% else %>
                <p><%= t('users.show.not')%></p>
                <% end %>
            </div>
        </div>
        <div class="col-12 col-sm-12" style="margin-top: 50px;">
            <h5 style="margin-bottom: 20px;"><%= t('users.show.map')%></h5>
            <% if @user.location? %>
            <div id="map" style="width: 100%; height: 300px; margin-bottom: 20px;"></div>
            <% else %>
            <p><%= t('users.show.not')%></p>
            <% end %>
        </div>
    </div>
    <div>
    </div>
</div>