<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"
    integrity="sha256-DI6NdAhhFRnO2k51mumYeDShet3I8AKCQf/tf7ARNhI=" crossorigin="anonymous"></script>
<script>
    $("#rememberCheck").on('change', function () {
        this.value = this.checked ? 1 : 0;
    });
    $("#facebookLogin").on('click', function (e) {
        e.preventDefault();
        loginFB();
    });
    $("#editUserForm").submit(function (e) {
        e.preventDefault();
        $.ajax({
            url: '/users/<%= current_user.id if logged_in? %>.json',
            headers: {
                'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
            },
            type: 'put',
            data: {
                user: {
                    location: $("#editLocation").val(),
                    about: $("#editAbout").val()
                }
            },
            beforeSend: function () {
                $("#editUserLoader").removeClass("hidden");
            },
            success: function (res) {
                $("#editUserLoader").addClass("hidden");
                $("#editUserLoader").modal('hide');
                window.location.reload();
            },
            error: function (xhr) {
                $("#signUpLoader").addClass("hidden");
                $("#signUpMessage").removeClass("hidden");
            }
        });
    });
    $("#signUpForm").submit(function (e) {
        e.preventDefault();
        $.ajax({
            url: '/users.json',
            headers: {
                'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
            },
            type: 'post',
            data: {
                user: {
                    email: $("#signUpEmail").val(),
                    password: $("#signUpPassword").val(),
                    password_confirmation: $("#signUpPasswordConf").val(),
                    first_name: $("#signUpFirstName").val(),
                    last_name: $("#signUpLastName").val(),
                    name: "default"
                }
            },
            beforeSend: function () {
                $("#signUpLoader").removeClass("hidden");
            },
            success: function (res) {
                $("#signUpLoader").addClass("hidden");
                $("#signUpModal").modal('hide');
                $("#successModal").modal('show');
            },
            error: function (xhr) {
                $("#signUpLoader").addClass("hidden");
                $("#signUpMessage").removeClass("hidden");
            }
        });
    });
    $("#signInForm").submit(function (e) {
        e.preventDefault();
        $.ajax({
            url: '/sessions.json',
            type: 'post',
            headers: {
                'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
            },
            data: {
                session: {
                    email: $("#signInEmail").val(),
                    password: $("#signInPassword").val(),
                    remember_me: $("#rememberCheck").val()
                }
            },
            beforeSend: function () {
                $("#signInLoader").removeClass("hidden");
            },
            success: function (res) {
                $("#signInLoader").addClass("hidden");
                $("#signInModal").modal('hide');
                window.location.reload();
            },
            error: function (xhr) {
                $("#signInLoader").addClass("hidden");
                $("#signInMessage").removeClass("hidden");
            }
        });
    });
    function logout() {
        $.ajax({
            url: '/sessions',
            type: 'delete',
            headers: {
                'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
            },
            beforeSend: function () {
                $("#signOutLoader").show();
            },
            success: function (res) {
                $("#signOutLoader").hide();
                window.location.reload();
            },
            error: function (xhr) {
                $("#signOutLoader").hide();
            }
        });
    }

    $("#uploadLink").on('click', function (e) {
        e.preventDefault();
        $("#uploader").trigger('click');
    });
    $("#uploader").on('change', function (e) {
        e.preventDefault();
        var files = $("#uploader").get(0).files;
        var data = new FormData();

        if (files.length === 0) {
            alert('Select at least 1 file to upload.');
            return false;
        }

        data.append('user[profile_picture]', files[0], files.name);

        $.ajax({
            url: '/users/<%= current_user.id if logged_in? %>.json',
            method: 'put',
            headers: {
                'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
            },
            data,
            processData: false,
            contentType: false,
            success: function (res) {
                window.location.reload();
            },
            error: function (xhr) {

            }
        });
    });
    function initMap() {
        var lng;
        var lat;
        var string = '<%= @user.location if !@user.nil?%>';
        console.log(encodeURI(string));
        $.ajax({
            url: `https://maps.googleapis.com/maps/api/geocode/json?address=${encodeURI(string)}&key=<%= ENV['GOOGLE_API_KEY'] %>`,
            method: 'get',
            success: function (res) {
                lng = res.results[0].geometry.location.lng;
                lat = res.results[0].geometry.location.lat;
                var map = new google.maps.Map(document.getElementById('map'), {
                    center: { lat, lng },
                    zoom: 15
                });
                var marker = new google.maps.Marker({
                    position: { lat, lng },
                    map
                });
            },
            error: function (xhr) {
            }
        });
    }
    $(function () {
        $("#searchString").autocomplete({
            delay: 500,
            source: '/users.json',
            appendTo: '#suggestionBox',
            focus: function (event, ui) {
                event.preventDefault();
            }
        })
            .data("ui-autocomplete")._renderItem = function (ul, item) {
                console.log(item);
                return $("<li>")
                    .append(
                        `<a href="/users/${item.id}">
                            <img class="apt-account-thumbnail rounded-circle" src="${item.profile_picture.url}" onerror="this.src='/assets/default-user.png'">
                            ${item.first_name} ${item.last_name}
                        </a>
                        <hr>
                        `
                    )
                    .appendTo(ul);
            }
    });
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap" async
    defer></script>